* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    font-size: 14px;
}

input, textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #dfe3e6;
    padding: 5px;
    resize: none;
    margin-bottom: 8px;
}

.btn.green {
    background-color: #519839;
    box-shadow: 0 1px 0 0 #3f6f21;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    line-height: 20px;
    padding: 6px 12px;
    text-align: center;
    border-radius: 3px;
    margin: 0;
}

.todo_list {
    white-space: nowrap;
}

.todo_list-category h2 {
    color: #17394d;
    margin: 0;
    font-size: 14px;
}

.todo_list-category {
    background-color: #dfe3e6;
    display: inline-block;
    vertical-align: top;
    width: 270px;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    white-space: normal;
    position: relative;
}

.todo_list-category ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    width: 100%;
}

.todo_list-item {
    padding: 10px 30px 10px 10px;
    border-radius: 5px;
    margin: 10px 0;
    width: 250px;
    background: #fff;
    position: relative;
}

.todo_list-item p {
    margin: 0;
}

.todo_list-item:last-child {
    margin-bottom: 0;
}

.todo_list svg {
    opacity: 0;
    position: absolute;
    -webkit-transition: opacity 0.3s ease-out 0s;
    -moz-transition: opacity 0.3s ease-out 0s;
    -ms-transition: opacity 0.3s ease-out 0s;
    -o-transition: opacity 0.3s ease-out 0s;
    transition: opacity 0.3s ease-out 0s;
    color: #17394d;
}

.todo_list-category > svg {
    right: 12px;
    top: 8px;
}

.todo_list-item > svg {
    top: 11px;
    right: 5px;
}

.todo_list-item:hover > svg,
.todo_list-category:hover > svg {
    opacity: 1;
    cursor: pointer;
}

.add_todo {
    padding: 0;
    background: none;
}

.todo_item-menu {
    position: absolute;
    width: 150px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
    left: 100%;
    top: 0;
    z-index: 10;
}